/codes
/faiss_index
/h5
/images
/json
/keras
/texts
/embeddings
/.idea


#/keras/densenet_169_-saved-model-93-acc-0.90.keras
#/keras/inception_resnset_v2_-saved-model-88-acc-0.90.keras
#/keras/densenet_201_-saved-model-91-acc-0.90.keras
#/keras/vgg_16_-saved-model-70-acc-0.89.keras
/keras/densenet_121_-saved-model-94-acc-0.89.keras
/keras/densenet_121_-saved-model-97-acc-0.85.keras
/keras/xception_-saved-model-07-acc-0.93.keras
/keras/densenet_201_-saved-model-97-acc-0.87.keras
/keras/inception_resnet_-saved-model-97-acc-0.88.keras
/keras/xception_v5_model_saved-model-91-acc-0.85.keras
/keras/xception_v3_-saved-model-71-acc-0.87.keras
/keras/xception_-saved-model-77-acc-0.91.keras
/keras/vgg_16_-saved-model-78-acc-0.86.keras
/keras/vgg16_v3_model_saved-model-75-acc-0.85.keras
/keras/resnet_152_-saved-model-99-acc-0.87.keras
/keras/resnet_101_-saved-model-95-acc-0.85.keras
/keras/resnet_101_-saved-model-88-acc-0.88.keras
/keras/resnet_50_-saved-model-95-acc-0.87.keras
/keras/mobilenet_50_-saved-model-87-acc-0.85.keras